body {
    height: 100%;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
}
html #__next {
    height: 100vh;
    max-height: 100vh;
    max-height: -webkit-fill-available;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100vw;
    padding: 0;
    border: 0;
    margin: 0;
    overflow: hidden;
}

.root {
    height: 100vh;
    max-height: 100vh;
    max-height: -webkit-fill-available;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100vw;
    padding: 0;
    border: 0;
    margin: 0;
    overflow: hidden;
    font-size: 10px;
}
